@font-face { 
        font-family: "titlefont";
        src: url("Fonts/Ringbearer.ttf");
    }

@font-face {
    font-family: "totalelvish";
    src:url("Fonts/TengwarCursive.ttf");
}

@font-face {
    font-family: "nordicRunes";
    src:url("Fonts/AnglosaxonRunes.ttf");
}

@font-face {
    font-family: "elvishTwo";
   src:url("Fonts/Elvish.ttf");
}

@font-face {
    font-family: "bilboThin";
    src:url("Fonts/BilboHandFine.ttf");
}

@font-face {
    font-family: "bilboB";
    src:url("Fonts/BilboHandRegular.ttf");
}

@font-face {
    font-family: "bilboBold";
    src:url("Fonts/BilboHandBold.ttf");
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

body {
background: #a3f29e;
}

.logo {
height: 7em;
width: 10em;
}

.topBar {
    display: flex;
    align-items: center;
    justify-content: end;
    /* float: right;
     margin-right: 55px; 
    background-color: #a3f29e; */
}

.topBar span {
    font-family: "bilboBold";
    font-size: 1.5em;
    font-weight: 600;
}

button {
    background-color: #a3f29e;
    font-family: "titlefont";
    border: none;
}

input {
    background-image: url(Images/wood.jpg);
    color: white;
    font-family: "titlefont";
}


.heading, h1 {
   /* color: #5C4033; */
    font-family: "bilboB";
    font-size: 4em;
    position: absolute;
    margin-top: 3.5em;
    color: aliceblue;
}

.heading h2 {
    font-family: "bilboB";
    font-size: 4em;
    position: absolute;
    margin-top: 4em;
    color: aliceblue;
}
/*
button {
    margin-bottom: 2em;
}


span {
color: #5C4033; 
}

p {
    color:#5C4033;
} */

.bigPicDiv {
    position: relative;
    padding-left: 2.6em;
}


.bigPic {
display: block;
width: 100%;
margin: 0;
}

.topBar, .experiences {
    background-image: url('/Images/bush1');
}
/*
.blueSec li {
    font-family: Tangerine;
    color: #f5f568;
}

.blueSec li span i {
    color: #f5f568;
}

h3 {
    display: inline-block;
}
*/

.container {
    width: 80%;
    margin: 5rem auto;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}

.wonder {
    display: block;
    margin-top: 5em;
    margin-left: 5.5em;
    font-family: "titlefont";
    font-size: 2.5em;

}

.experiences img {
    display: block;
    height: 9em;
    width: 13em;
    border-radius: 5px;
}

.experience {
    display: flex;
    width: 40%;
    background:#a3f29e;

    padding-left: 10em;
}

.experience, h3 {
    padding-left: .7em;
    font-family: "titlefont";
}

/* maybe ask someone how to uncenter the h3s so each word isn't broken up.
Also ask someone how to make only background opaque rather than the world map?
Consider applying this to the whole background color, even if you'll most likely
make the wood background at the bottom a different color. */

.events {
    font-family: "titlefont";
    display: block;
    margin-left: 40%;
    margin-right: 35%;
    font-size: 1.3em;
}

.potatoes, .prancingPony {
    width: 13em;
    height: 11em;
    border-radius: 5px;  
    /*margin-left: 30%;
    margin-right: 20%; */
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: row;
}

    .blueSec {
    background-image: url(Images/wood.jpg);
    color: black;
}

.blueSec h3 {
    display: block; 
    font-size: 3.5em;
    font-family: "titlefont";
    margin-left: 30%;
    margin-right: 20%;
}

.blueSec img {
    width: 12em;
}

/* add margin upper to at least top images to give it distance between that and plan your journey

.worldMap {
    display: block;
    margin-top: 20em;
    margin-left: auto;
    margin-right: auto;
    width: 52em;
    align-content: center;
}
    */

.connect {
    font-family: "titlefont"; 
     color: #f5f568;
}

.socialMedia {
    border-bottom: 1px solid #888;
}

.end {
border-top: 1px solid #888;
}

.socialMedia i {
    font-size: 1.5em;
    color: whitesmoke;
}

.end li{
    list-style-type: none;
    font-family: "titlefont";
    margin-left: 60em;
    color: whitesmoke;
}

.connect {
    border-top: red;
}

.newsLetter { 
    margin-top: 7em; 
}

.disclaimer {
    display: block;
    margin-left: 20em;
    font-family: Tangerine;
    color: whitesmoke;
}

.runes {
    text-align: center;
    font-family: "nordicrunes";
    font-size: 1.3em;
    color: whitesmoke;
}

/* Ask someone how to make font smaller rather than thinner or bolder. */

 /*   the hex code for forest green, I think. Definitely a green. #228b22;
    The hex code for dark brown is #5C4033 and the hex code for sage
    green is 
    
    Consider metallic accents? Look to natural motifs.*/
