@font-face { 
        font-family: "titlefont";
        src: url("Fonts/Ringbearer.ttf");
    }

@font-face {
    font-family: "totalelvish";
    src:url("Fonts/TengwarCursive.ttf");
}

@font-face {
    font-family: "nordicrunes";
    src:url("Fonts/AnglosaxonRunes.ttf");
}

@font-face {
    font-family: "elvishtwo";
   src:url("Fonts/Elvish.ttf");
}

@font-face {
    font-family: "bilbothin";
    src:url("Fonts/BilboHandFine.ttf");
}

@font-face {
    font-family: "bilboB";
    src:url("Fonts/BilboHandRegular.ttf");
}

@font-face {
    font-family: "bilboBold";
    src:url("Fonts/BilboHandBold.ttf");
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

body {
background: linear-gradient(to bottom, #a3f29e, #a3f29e, #66c0e4, #f3f4f6);
}

.logo {
height: 7em;
width: 10em;
}

.topBar {
    display: flex;
    align-items: center;
    justify-content: end;
    /* float: right;
     margin-right: 55px; 
    background-color: #a3f29e; */
}

button {
    background-color: #a3f29e;
    font-family: "titlefont";
    border: none;
}

input {
    background-image: url(Images/wood.jpg);
    color: white;
    font-family: "titlefont";
}
/*
h1 {
    position: absolute;
}


h1, h2 {
color: #228b22", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} */

.heading, h1 {
   /* color: #5C4033; */
    font-family: "bilboB";
    font-size: 4em;
    position: absolute;
    margin-top: 3.5em;
    color: aliceblue;
}

.heading h2 {
    font-family: "bilboB";
    font-size: 4em;
    position: absolute;
    margin-top: 4em;
    color: aliceblue;
}
/*
button {
    margin-bottom: 2em;
}


span {
color: #5C4033; 
}

p {
    color:#5C4033;
} */

.bigPicDiv {
    position: relative;
    padding-left: 2.6em;
}


.bigPic {
display: block;
/*margin-left: auto;
margin-right: auto;
height: 45em;
width: 92em; */
width: 100%;
margin: 0;
}

/* to top can be used to go from bottom up, there's multiple different kinds.
Look into them and make a quick decision! Start with green, off white/silvery,
maybe the blue then? Or reverse those last two. */

.blueSec li {
    font-family: Tangerine;
    color: #f5f568;
}

.blueSec li span i {
color: #f5f568;
}

h3 {
    display: inline-block;
}

.container {
    width: 80%;
    margin: 5rem auto;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}


.experiences img {
    display: block;
    height: 9em;
    width: 13em;
}

.experience {
    display: flex;
    width: 40%;
    background: white;
}

.potatoes, .prancingPony {
    width: 13em;
    height: 11em;
}

.blueSec {
    background-image: url(Images/tree.jpg);
}

.worldMap {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 52em;
    align-content: center;
}

.connect{
    font-family: "titlefont"; 
     color: #f5f568;
}

.socialMedia {
    border-bottom: 1px solid #888;
}

.end {
border-top: 1px solid #888;
}

.socialMedia i {
    font-size: 1.5em;
    color: #f5f568;
}

.end li{
    list-style-type: none;
    font-family: "titlefont";
    margin-left: 60em;
    color: #f5f568;
}

.newsLetter { 
    margin-top: 7em; 
}

.disclaimer {
    display: block;
    margin-left: 20em;
    font-family: Tangerine;
    font-size: 600;
    color:#f5f568;
}

.runes {
    text-align: center;
    font-family: "nordicrunes";
    font-size: 1.3em;
    color: #f5f568;
}

/* Ask soemone how to make font smaller rather than thinner or bolder. */

 /*   the hex code for forest green, I think. Definitely a green. #228b22;
    The hex code for dark brown is #5C4033 and the hex code for sage
    green is */
